<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Routes</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>ALL-ROUTES</h1>

      <form action="/routes" method="POST" class="main-form">
        <div class="mb-4">
          <label for="from-select" class="">From</label>
          <select name="from" id="from-select" required class="dropdown">
            <% locations.forEach(loc => { %>
            <option value="<%= loc %>"><%= loc %></option>
            <% }) %>
          </select>
        </div>

        <div class="mb-4">
          <label for="to-select" class="">To</label>
          <select name="to" id="to-select" required class="dropdown">
            <% locations.forEach(loc => { %>
            <option value="<%= loc %>"><%= loc %></option>
            <% }) %>
          </select>
        </div>

        <div class="">
          <label for="distance" class="">Distance (km)</label>
          <input
            type="number"
            name="distance"
            id="distance-input"
            placeholder="Distance (km)"
            required
            class="distance-input"
          />
        </div>

        <button type="submit" class="submit-button">Add Route</button>
      </form>

      <ul class="locations-list">
        <% routes.forEach(route => { %>
        <li class="location-item">
          <%= route.from %> ↔ <%= route.to %> : <%= route.distance %> km
          <form action="routes/delete" method="POST">
            <input type="hidden" name="from" value="<%= route.from %>" />
            <input type="hidden" name="to" value="<%= route.to %>" />
            <input
              type="hidden"
              name="distance"
              value="<%= route.distance %>"
            />
            <button type="submit" class="delete-button" title="Delete Route">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </li>
        <% }) %>
      </ul>

      <div class="">
        <a href="/">Back to Home</a>
      </div>
    </div>
  </body>
</html>
